# Auto detect text files and perform LF normalization
* text=auto

# Exclude from GitHub language statistics
*.shader linguist-language=
*.hlsl linguist-language=
*.hlsli linguist-language=
*.cginc linguist-language=

# Git LFS
*.wasm filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
